<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
   <meta charset="utf-8">
   <title>Message</title>
   <link rel="shortcut icon" href="/static/favicon.svg" type="image/svg+xml">
   <link rel="stylesheet" href="/static/css/err.css">
</head>

<body>
   <div id="error-page">
      <div class="content">
         <h4>
            <%=error%>
         </h4>
         <div class="btns">
            <a href=<%=altR%>><%=altB%></a>
         </div>
      </div>
   </div>
</body>

</html>