<!DOCTYPE html>
<html>
    <head>
        <title>My Groups</title>
    </head>
    <body>
        <% if(results.length==0){ %>
            <h1>You Are Not Part Of Any Group</h1>
        <% } %>    
        <% for(c of results){ %>
            <div>Group Name:<%= c.groupname %></div>
            <img src="<%=c.group_pic %>"></img>
            <form action="/group_details" method="post">
                <input type="hidden" name="groupid" value="<%= c.groupid %>">
                <button type="submit">View Details</button>
            </form>
        <% } %>
    </body>
</html>