<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>My Groups</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="shortcut icon" href="/static/favicon.svg" type="image/svg+xml">
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/mygroups.css">
    <style>
        body,
        html {
            height: 100%;
            margin: 0;
            padding: 0;
            font-family: 'Inter', sans-serif;
        }

        .container {
            display: flex;
            height: 100%;
        }

        .sidebar {
            flex: 0 0 auto;
            background-color: #ffffff;
            position:fixed;
        }

        .center-content {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 20px;
        }

        .header {
            font-size: 36px;
            font-weight: bold;
            color: #272727;
            margin-bottom: 40px;
        }

        .group-grid {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 30px;
            width: 100%;
            max-width: 1000px;
        }

        .group-item {
            border: 1px solid #ffffff;
            border-radius: 8px;
            padding: 20px;
            text-align: center;
            background-color: #fff;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            transition: transform 0.3s ease, box-shadow 0.3s ease;
        }

        .group-item:hover {
            transform: translateY(-5px);
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
        }

        .group-grid .group-item .group-name {
            display: block;
            /* Makes sure the element behaves like a block, allowing margin settings */
            margin-top: 10px;
            /* Space above the group name */
            margin-bottom: 15px;
            /* Space below the group name, before the details button */
            font-size: 20px;
            /* Larger font size for prominence */
            font-weight: bold;
            /* Bold font weight for emphasis */
            color: #34495e;
            /* A dark shade for contrast against the background */
            text-transform: uppercase;
            /* Uppercase text for stylistic preference */
            letter-spacing: 0.5px;
            /* Space between letters for readability */
            text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
            /* Subtle shadow for depth */
        }

        .group-grid .group-item:hover .group-name {
            color: #0056b3;
            text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.8);
        }

        #b1 {
            background-color:#5a58e9;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 20px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        #b1:hover {
            background-color: #ffc500;
            color: black;
        }

        .oval-image {
            border-radius: 50%;
            width: 150px;
            height: 150px;
            object-fit: cover;
            border: 3px solid #f0f0f0;
            margin-bottom: 15px;
        }

        #groupName{
            font-size: 16px;
            font-weight: bold;
            color: #272727;
            margin-bottom: 20px;
        }
    </style>
</head>

<body>
    <div class="container">
        <nav class="sidebar">
            <div class="sidebar-top">
                <a href="#" class="logo__wrapper">
                    <img src="/static/images/logo.png" alt="Logo" class="logo">
                    <img src="/static/images/logo-small.png" alt="Logo" class="logo-small">
                </a>
            </div>
            <div class="sidebar-links">
                <ul>
                    <li>

                        <a href="/profile" title="Home" class="tooltip">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                                stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <path d="M5 12l-2 0l9 -9l9 9l-2 0"></path>
                                <path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7"></path>
                                <path d="M10 12h4v4h-4z"></path>
                            </svg>
                            <span class="link hide">Home</span>
                            <span class="tooltip__content">Home</span>
                        </a>
                    </li>




                    <li>
                        <a href="/MyGroups" title="MyGroups" class="tooltip active">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-users"
                                width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
                                fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <path d="M9 7m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0"></path>
                                <path d="M3 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2"></path>
                                <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
                                <path d="M21 21v-2a4 4 0 0 0 -3 -3.85"></path>
                            </svg>
                            <span class="link hide">My Groups</span>
                            <span class="tooltip__content">My Groups</span>
                        </a>
                    </li>

                    <li>
                        <a href="/addGroup" title="Create Group" class="tooltip">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                                stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <path
                                    d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z">
                                </path>
                            </svg>
                            <span class="link hide">Create Group</span>
                            <span class="tooltip__content">Create Group</span>
                        </a>
                    </li>



                    <li>
                        <a href="#" title="Pending Requests" class="tooltip" onclick="submitForm('/requests')">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                                stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <path d="M8 16l2 -6l6 -2l-2 6l-6 2"></path>
                                <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                            </svg>
                            <span class="link hide">Pending Requests</span>
                            <span class="tooltip__content">Pending Requests</span>
                        </a>
                        <form id="myForm" action="/requests" method="post" style="display: none;">
                            <button type="submit">Pending Requests</button>
                        </form>
                    </li>



                    <li>
                        <a href="#" title="Logout" class="tooltip" onclick="submitForm('/logout')">
                            <div style="position: relative;">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-logout"
                                    width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
                                    fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <path
                                        d="M14 8v-2a2 2 0 0 0 -2 -2h-7a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h7a2 2 0 0 0 2 -2v-2">
                                    </path>
                                    <path d="M9 12h12l-3 -3"></path>
                                    <path d="M18 15l3 -3"></path>
                                </svg>
                                <div class="notification"></div>
                            </div>
                            <span class="link hide">Logout</span>
                            <span class="tooltip__content">Logout</span>
                        </a>
                        <form id="myForm" action="/logout" method="post" style="display: none;">
                            <button type="submit">Logout</button>
                        </form>
                    </li>
                    <!-- <li>
                  <a href="#reports" title="Test" class="tooltip">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-file-description" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                      <path d="M14 3v4a1 1 0 0 0 1 1h4"></path>
                      <path d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z"></path>
                      <path d="M9 17h6"></path>
                      <path d="M9 13h6"></path>
                    </svg>
                    <span class="link hide">Test</span>
                    <span class="tooltip__content">Test</span>
                  </a>
                </li> -->

                </ul>
            </div>
            <div class="sidebar-bottom hide">
                <img src="/static/images/diamond.png" alt="Diamond">
                <p>
                    Welcome to Splitwise!
                </p>
                <button>
                    Smart Sharing!
                </button>
            </div>
            <div class="expand-btn" style="display: hidden;">
                <img src="/static/images/right-collapse.svg" alt="Left Collapse">
                <span class="hide">
                    Collapse
                </span>
            </div>
            <!-- Other sidebar content if needed -->
        </nav>
        <div class="center-content">
            <div class="header">My Groups</div>
            <% if(results.length==0){ %>
                
                <h1 style="text-align: center;">You Are Not Part Of Any Group</h1>
            <% } %> 
            <div class="group-grid">
                
                <% for(let i=0; i < results.length; i++){ %>
                    <div class="group-item">
                        <div id="groupName"><%= results[i].groupname %>
                        </div>
                        <img class="oval-image" src="<%= results[i].group_pic %>" alt="Group Image">
                        <form action="/group_details" method="post">
                            <input type="hidden" name="groupid" value="<%= results[i].groupid %>">
                            <button type="submit" id="b1">View Details</button>
                        </form>
                    </div>
                    <% } %>
            </div>
        </div>
    </div>
    <script src="/static/js/mygroups.js"></script>
</body>

</html>