<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>No New Requests</title>
      <link rel="stylesheet" href="/static/css/nonewrequests.css">
   </head>
   <body>
      <div id="error-page">
         <div class="content">
            <h4 data-text="Opps! Page not found">
               No new Requests
            </h4>
            <p>
               Sorry, You have no new requests. 
            </p>
            <div class="btns">
               <a href="/profile">return home</a>
            </div>
         </div>
      </div>
   </body>
</html>