<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp</title>
</head>
<body>
    <form action="/signup" method="post" enctype="multipart/form-data">
        <div>
            <label for="Name">Enter UserName</label>
            <input id="Name" type="text" name="Name" required>
        </div>
        <div>
            <label for="Email">Enter User Email</label>
            <input id="Email" type="email" name="Email" required>
        </div>
        <div>
            <label for="Password">Enter Password</label>
            <input id="Password" type="password" name="Password" required>
        </div>
        <div>
            <label for="profilePic">Select ProfilePic:</label>
            <input type="file" id="profilePic" name="profilePic" accept="image/*">
        </div>
        <button type="submit">Sign Up</button>
    </form>
</body>
</html>
