<!DOCTYPE html>
<html>
    <head>
        <title>New Expense</title>
    </head>
    <body>
        <h1>Add New Expense</h1>
        <form action="" method="post">
            <div>
                <label for="Name">Enter Expense Description</label>
                <input id="Name" type="text" name="Name" required>
            </div>
            <div>
                <label for="Amount">Enter Total Amount</label>
                <input id="Amount" type="number" name="Amount" required>
            </div>
        </form>
    </body>
</html>