@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  height: 100vh;
  background: linear-gradient(to right, #e2e2e2, #c9d6ff);
  background-size: 400%;
}

#error-page {
  position: absolute;
  top: 30%;
  /* Adjust the top position */
  left: 30%;
  /* Adjust the left position */
  right: 30%;
  /* Adjust the right position */
  bottom: 30%;
  /* Adjust the bottom position */
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

#error-page .content {
  max-width: 600px;
  text-align: center;
}

.content h2.header {
  font-size: 18vw;
  line-height: 1em;
  position: relative;
}

.content h4 {
  font-size: 1.5em;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: #000;
  font-size: 2em;
  max-width: 600px;
  position: relative;
}

.content p {
  font-size: 1.2em;
  color: #0d0d0d;
}

.content .btns {
  margin: 25px 0;
  display: inline-flex;
}

.content .btns a {
  display: inline-block;
  margin: 0 10px;
  text-decoration: none;
  border: 2px solid #5a58e9;
  color: #5a58e9;
  font-weight: 500;
  padding: 10px 25px;
  border-radius: 25px;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.content .btns a:hover {
  background: #5a58e9;
  color: #fff;
}